<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#ReineMeptember2024 🎂</title>
    <meta content="imissreine/meptember24" property="og:title" />
    <meta content="Celebrate #ReineMeptember2024!" property="og:description" />
    <meta content="http://www.imissreine.com/meptember24" property="og:url" />
    <meta content="http://www.imissreine.com/static/home/img/mepcake.webp" property="og:image" />
    <meta content="imissreine" property="site_name">

    <meta content="http://www.imissreine.com/static/home/img/mepcake.webp" name="twitter:image:src" id="twitter-image">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="imissreine" id="twitter-title"/>
    <meta name="twitter:description" content="Celebrate #ReineMeptember2024!" id="twitter-desc"/>

    <link rel="shortcut icon" href="{% static 'home/img/mepcake.webp' %}" type="image/x-icon">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <link rel="stylesheet" href="{% static 'home/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/solid.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <script src="{% static 'home/js/meptember24.js' %}" defer></script>
    <link href="{% static 'home/css/meptember24.css' %}" rel="stylesheet">

    <script>
        // Ensure the page starts at the top on reload
        window.onbeforeunload = function () {
          window.scrollTo(0, 0);
        };
    </script>      
</head>
<body>
    <input type="hidden" id="digital_ocean_url" value="{{ digital_ocean_url }}">
    <a href="/" class="button" id="homepage">
        <span class="icon" id="homepage_icon">
            <i class="fas fa-house"></i>
        </span>
        <span id="homepage_text">Back to homepage</span>
    </a>
    <div class="button-group-container">
        <div class="button-group">
            <a href="#landing" class="nav-button"><strong>Landing</strong></a>
            <a href="#cover_title" class="nav-button"><strong>Covers</strong></a>
            <a href="#cosplay_title" class="nav-button"><strong>Cosplays</strong></a>
            <a href="#fanart_title" class="nav-button"><strong>Fanarts</strong></a>
            <a href="#all_messages" class="nav-button"><strong>Messages</strong></a>
        </div>
    </div>
    <section class="hero" id="landing">
        <video autoplay muted loop id="background-video" oncontextmenu="return false;" ondragstart="return false;">
            <source src="{% static 'home/bg/landing_background-25.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>

        <div class="logo-container">
            <video id="logo-video" autoplay muted loop oncontextmenu="return false;" ondragstart="return false;">
                <source src="{% static 'home/bg/logo.webm' %}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="text-overlay">
            <p>Scroll below or click the button above to navigate our fan project submissions!</p>
        </div>
    </section>
    <section class="section" id="cover_song">
        <h2 class="title" id="cover_title">Cover Song</h2>
        <br>
        <iframe width="1250" height="703" src="https://www.youtube.com/embed/L51wjffI7EE" title="【Cover】あの青空のせいだ (Ano Aozora no Sei da) / Selene Aria" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section class="section" id="submission">
        <div id="submission_info_container">
            <h1 class="title" id="submission_info_help">Click the card to view the image or video at full render quality!</h1>
        </div>
        <br>
        <div class="container">
            <h2 class="title" id="cosplay_title">Cosplays</h2>
            <div class="columns is-multiline" id="cosplay_container">
                <!-- Dynamically generated content will be added here -->
            </div>
        </div>
        <div class="container">
            <h2 class="title" id="fanart_title">Fanarts</h2>
            <div class="columns is-multiline" id="fanart_container">
                <!-- Dynamically generated content will be added here -->
            </div>
        </div>
    </section>
    <section class="section" id="all_messages">
        <h2 class="title">Fan Messages</h2>
        <br>
        <h2 class="subtitle">Take a look at our messages for you, Reine!</h2>
        <picture>
            <!-- Image for mobile devices -->
            <source srcset="{% static 'home/img/messages_mobile.webp' %}" media="(max-width: 768px)">
            <!-- Image for larger screens (default) -->
            <img src="{% static 'home/img/messages.webp' %}" alt="all messages">
        </picture>
    </section>
    <footer class="footer" id="footer">
        <div class="content has-text-centered">
          <p>
            This fansite can't be done without the help from numerous people! Thank you <strong>Tiramints</strong> for the permission to use background and logo for landing section, and also the background used for the cosplay and fanart section. Thank you <strong>DA_4289</strong> for providing background for messages section. Thank you <strong>Reiza Kloise</strong> and <strong>kinggruk</strong> as the project manager for <strong>#ReineMeptember2024</strong> train advertisement and this fansite! And last but certainly not the least, thank you for all Merakyats that has sent fanarts, cosplays, and their messages through this fansite!
            <br>
            <br>
            <strong>imissreine</strong> created by <a target="_blank" rel="noopener noreferrer" href="https://x.com/StrikeDX">StrikeDX (Auki)</a>. Built with <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://www.djangoproject.com/">Django Framework</a>. <a target="_blank" rel="noopener noreferrer" href="https://github.com/AdamSyauqi/imissreine">Source Code</a>
          </p>
        </div>
    </footer>
</body>
<script>
    document.querySelectorAll('.nav-button').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const targetId = this.getAttribute('href');
            document.querySelector(targetId).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>    
</html>
